include mixin
extends base
block append body
  +headingSection
  .row.individual_page_content_container
    div.small-10.small-centered.medium-6.medium-decentered.columns
      div.post_house
        div.single_post
          a(href="/gallery/#{picture.id}")
            div.individual_page_image(style='background-image: url(#{picture.link});')
            h3.author.small-centered.columns Author: #{picture.author}
            p.description.small-centered.columns= picture.description

    div.small-10.small-centered.medium-6.medium-decentered.columns
      h1 Edit the Post
      form(method='POST', action='/gallery/#{picture.id}')
        br
        input(
        type='hidden'
        name='_method'
        value='PUT'
          )
        input(
          type='text'
          name='author'
          value='#{picture.author}'
          onFocus="this.value=''"
          autocomplete='off'
          required
          )
        br
        input(
          type='url'
          name='link'
          value='#{picture.link}'
          onFocus="this.value=''"
          autocomplete='off'
          required
          )
        br
        input(
          type='text'
          name='description'
          value='#{picture.description}'
          onFocus="this.value=''"
          autocomplete='off'
          required
          )
        br
        div.row.buttons_row
          div(class='small-4 columns')
            button.formButtons(type='Submit') Submit
          div(class='small-4 columns')
            +cancelButton
          div(class='small-4 columns')
            +deleteButton(picture)
