include mixin
extends base
block append body
  +headingSection
  .row.individual_page_content_container
    div.small-12.medium-12.large-8.columns
      p.individual_page_author_head #{picture.author}&nbsp-&nbsp;
        span.spanlink #{picture.link}
      div.post_house
        a(href='picture.id')
          +picturePost(picture, ' ' ,"individual_page_image medium-12")
          +editButton(picture)
          //- +goHome
          //- +deleteButton(picture)
      p.copyright.small-12.columns Copyright www.fantasticnorway.co
    div.medium-4.columns.sidebar_content
      each picture in pictures
        a(href=picture.id)
          img(class='small-centered columns sidebar_image')(src= picture.link)
        p.sidebar_sub_info #{picture.author} &nbsp-&nbsp;
          span.sidebarlink #{picture.link}


