include mixin
extends base
block append body
  div.row
    div.small-10.small-centered.medium-6.columns
      h1 Login Page
  div.row
    div.small-10.small-centered.medium-6.columns
      form(method='POST' action="/login")
        label Username:
        input(
          type='text'
          name='username'
          placeholder='username'
          autocomplete='off'
          required
        )
        label Password:
        input(
          type='password'
          name='password'
          placeholder='password'
          autocomplete='off'
          required
        )
        button Login
  div.row
    div.small-10.small-centered.medium-6.columns
      h4 Forgot your password?
      a(href='/register') Forgot your password?

  div.row
    div.small-10.small-centered.medium-6.columns
      h4 Don't have an account?
      a(href='/register') Register Today - It's Free!
