include mixin
extends base
block append body
  h1 Login Page
  div.row
    div.small-10.small-centered.medium-6.columns
      form(method='POST')
        input(
          type='text'
          name='username'
          placeholder='username'
          autocomplete='off'
          required
        )
        input(
          type='text'
          name='password'
          placeholder='password'
          autocomplete='off'
          required
        )
        button Login