include mixin
extends base
block append body
  h1 Login Page
  div.row
    form.small-10.small-centered.medium-6.columns
      input(
        type='text'
        name='username'
        placeholder='username'
        autocomplete='off'
        required
      )
      input(
        type='text'
        name='username'
        placeholder='username'
        autocomplete='off'
        required
      )
      button Login