mixin headingSection
  div.row.user_entry_links
    div.small-6.small-offset-6.medium-2.medium-offset-10
      - if (user)
        div.small-6.small-offset-6.medium-6.medium-offset-6.columns
          a.user_entry_links_pic(href='/logout') Logout
      - else
        div.small-6.medium-6.columns
          a(href="#" data-reveal-id="registerLink") Register
            div(id="registerLink" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
              h1.text-center Register Today!
              div.row
                div.small-10.small-centered.medium-6.columns
                  form(method='POST' action="/register")
                    label Username:
                    input(
                      type='text'
                      name='username'
                      placeholder='username'
                      autocomplete='off'
                      required
                    )
                    label Password:
                    input(
                      type='password'
                      name='password'
                      placeholder='password'
                      autocomplete='off'
                      required
                    )
                    button Register
            a( class="close-reveal-modal" aria-label="Close")
        div.small-6.medium-6.columns
          a(href="#" data-reveal-id="loginLink") Login
            div(id="loginLink" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
              h1.text-center Please login below
              div.row
                div.small-10.small-centered.medium-6.columns
                  form.login_form(method='POST' action="/login")
                    label Username:
                    input(
                      type='text'
                      name='username'
                      placeholder='username'
                      autocomplete='off'
                      required
                    )
                    label Password:
                    input(
                      type='password'
                      name='password'
                      placeholder='password'
                      autocomplete='off'
                      required
                    )
                    input.login_form_button(
                      type='submit'
                      value='Login'
                    )
          a( class="close-reveal-modal" aria-label="Close")


  div.row.heading_row
    div.small-10.medium-6.columns.logo
      a(href='/')
        img(src='/assets/transparent-logo.png')
        h1.hidden _ARCHITEKT
    div.small-12.medium-5.columns.sub_heading.hide-for-small-only
      p.sub_head_text Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digitial images to inspire others to follow in out innovative steps. Free Architect Word
    div.small-2.medium-1.columns.upload_button
      a(href="#" data-reveal-id="plusButton") +
      div(id="plusButton" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        - if(!user)
          h1.text-center Please login below
          div.row
            div.small-10.small-centered.medium-6.columns
              form.login_form(method='POST' action="/login")
                label Username:
                input(
                  type='text'
                  name='username'
                  placeholder='username'
                  autocomplete='off'
                  required
                )
                label Password:
                input(
                  type='password'
                  name='password'
                  placeholder='password'
                  autocomplete='off'
                  required
                )
                input.login_form_button(
                  type='submit'
                  value='Login'
                )
        - else
          div.row
            div.small-10.medium-6.small-centered.columns
              h2.text-center Add Your Photo
              form#addPhotoForm(method='POST' action='/gallery')
                p Author
                input(
                  type='text'
                  name='author'
                  placeholder='your name'
                  autocomplete='off'
                  required
                  )
                p Link to Photo
                input(
                  type='url'
                  name='link'
                  placeholder='link to photo'
                  autocomplete='off'
                  required
                  )
                p Description
                input(
                  type='text'
                  name='description'
                  placeholder='description'
                  autocomplete='off'
                  required
                  )
                input.formButtons(
                  class='modal_add_submit'
                  type='submit'
                  value='Submit'
                  )
          a( class="close-reveal-modal" aria-label="Close") &#215;



mixin slickSlider
  img.slider-Images(src='http://foundation.zurb.com/docs/assets/img/examples/satelite-orbit.jpg')
  img.slider-Images(src='http://foundation.zurb.com/docs/assets/img/examples/andromeda-orbit.jpg')
  img.slider-Images(src='http://foundation.zurb.com/docs/assets/img/examples/launch-orbit.jpg')

mixin picturePost(picture, postLayout, imageClass)
    div(class='single_post ' + postLayout)
      div(class='small-12 small-centered columns ')(style='background-image: url(#{picture.link});')
      h3.author.small-centered.columns Author: #{picture.author}
      p.description.small-centered.columns= picture.description
    if block
      block
    else

mixin goHome
  .back_to_home
    a(href="/")
      button(type='button') Home

mixin editButton(picture)
  button.edit_button(data-imgdata='#{imgData_json}') Edit Me
  //- a(href="/gallery/#{picture.id}/edit" class='edit_button')

mixin cancelButton
  a(href='/gallery/#{picture.id}' class='cancel_button formButtons')
    button(
      type='button'
    ) Cancel


mixin deleteButton(picture)
  form(method='POST', action='/gallery/#{picture.id}')
    input(
      type='hidden'
      name='_method'
      value='DELETE'
      )
    button.delete_button Delete



