mixin headingSection
  div.row.heading_row
    div.small-12.medium-7.columns.logo
      a(href='/')
        img(src='/assets/transparent-logo.png')
        h1.hidden _ARCHITEKT
    div.small-12.medium-5.columns.sub_heading.hide-for-small-only
      p.sub_head_text Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digitial images to inspire others to follow in out innovative steps. Free Architect Word

mixin slickSlider
  img.slider-Images(src='http://foundation.zurb.com/docs/assets/img/examples/satelite-orbit.jpg')
  img.slider-Images(src='http://foundation.zurb.com/docs/assets/img/examples/andromeda-orbit.jpg')
  img.slider-Images(src='http://foundation.zurb.com/docs/assets/img/examples/launch-orbit.jpg')

mixin picturePost(picture, postLayout, imageClass)
    div(class='single_post ' + postLayout)
      div(class='small-12 small-centered columns ')(style='background-image: url(#{picture.link});')
      h3.author.small-centered.columns Author: #{picture.author}
      p.description.small-centered.columns= picture.description
    if block
      block
    else

mixin goHome
  .back_to_home
    a(href="/")
      button(type='button') Home

mixin editButton(picture)
  a(href="/gallery/#{picture.id}/edit" class='edit_button')
    button.round.info.tiny.edit_button Edit Me

mixin cancelButton
  a(href='/gallery/#{picture.id}' class='cancel_button formButtons')
    button(
      type='button'
    ) Cancel


mixin deleteButton(picture)
  form(method='POST', action='/gallery/#{picture.id}')
    input(
      type='hidden'
      name='_method'
      value='DELETE'
      )
    button.formButtons Delete