include mixin
extends base
block append body
  div.row
    div.small-10.small-centered.medium-6.columns
      h1 Register Page
  div.row
    div.small-10.small-centered.medium-6.columns
      form(method='POST' action="/register")
        label Username:
        input(
          type='text'
          name='username'
          placeholder='username'
          autocomplete='off'
          required
        )
        label Password:
        input(
          type='password'
          name='password'
          placeholder='password'
          autocomplete='off'
          required
        )
        button Register